DNRPA/ServicioDNRPA.WS/App_WebReferences/rpa/WS-DominiosPorCuitANSES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ar.gov.dnrpa.ws/WS-DominiosPorCuitANSES/" name="WS-DominiosPorCuitANSES" targetNamespace="http://ar.gov.dnrpa.ws/WS-DominiosPorCuitANSES/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ar.gov.dnrpa.ws/WS-DominiosPorCuitANSES/">
      <xsd:element name="consultar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cuit">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="11" />
                  <xsd:maxLength value="11" />
                  <xsd:whiteSpace value="collapse" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarResponse" type="tns:responseType" />
      <xsd:complexType name="responseType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="dominios" type="tns:dominiosType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="dominiosType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="dominio" type="tns:dominioType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="dominioType">
        <xsd:sequence>
          <xsd:element name="codigoDominio" type="xsd:string" />
          <xsd:element name="codigoVehiculo" type="xsd:string" />
          <xsd:element name="codigoProcedencia" type="xsd:string" />
          <xsd:element name="marcaCodigo" type="xsd:string" />
          <xsd:element name="marcaDescripcion" type="xsd:string" />
          <xsd:element name="modeloCodigo" type="xsd:string" />
          <xsd:element name="modeloDescripcion" type="xsd:string" />
          <xsd:element name="tipoCodigo" type="xsd:string" />
          <xsd:element name="tipoDescripcion" type="xsd:string" />
          <xsd:element name="anioModelo" type="xsd:string" />
          <xsd:element name="fechaTitularidad" type="xsd:string" />
          <xsd:element name="porcentajeTitularidad" type="xsd:string" />
          <xsd:element name="valuacion" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="eco">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ecoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="consultar">
    <wsdl:part name="parameters" element="tns:consultar" />
  </wsdl:message>
  <wsdl:message name="consultarResponse">
    <wsdl:part name="parameters" element="tns:consultarResponse" />
  </wsdl:message>
  <wsdl:message name="ecoRequest">
    <wsdl:part name="parameters" element="tns:eco" />
  </wsdl:message>
  <wsdl:message name="ecoResponse">
    <wsdl:part name="parameters" element="tns:ecoResponse" />
  </wsdl:message>
  <wsdl:portType name="WS-DominiosPorCuitANSES">
    <wsdl:operation name="consultar">
      <wsdl:input message="tns:consultar" />
      <wsdl:output message="tns:consultarResponse" />
    </wsdl:operation>
    <wsdl:operation name="eco">
      <wsdl:input message="tns:ecoRequest" />
      <wsdl:output message="tns:ecoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS-DominiosPorCuitSOAP" type="tns:WS-DominiosPorCuitANSES">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultar">
      <soap:operation soapAction="http://ar.gov.dnrpa.ws/WS-DominiosPorCuitANSES/consultar" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eco">
      <soap:operation soapAction="http://ar.gov.dnrpa.ws/WS-DominiosPorCuitANSES/eco" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS-DominiosPorCuitANSES">
    <wsdl:port name="WS-DominiosPorCuitSOAP" binding="tns:WS-DominiosPorCuitSOAP">
      <soap:address location="https://www.ws1.dnrpa.gov.ar/WS-DominiosPorCuitANSES-TEST/index.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>